<!--좋아요한 강의 페이지-->  
{% extends 'mypagebase.html' %}

{% block content %}
{% load staticfiles %}
<div class="row" >
    <div class="col-1"></div>
    <div class="col-7" style="padding: 3.438rem 0rem 1.875rem 0rem; font-size: 1.563rem;">
        총 123건의 강의     
    </div>
    <div class="col-3" style="padding: 4.250rem 0rem 1.875rem 0rem; text-align: right; font-size: 1rem;">
        <a href="" style="color: #323232;  margin: 0rem 0.744rem 0rem 0rem">낮은 가격순</a>
        <a href="" style="color: #323232; margin: 0rem 0.744rem 0rem 0rem">높은 가격순</a>
        <a href="" style="color: #323232;">조회수 순</a>
    </div>
    <div class="col-1"></div>
</div>




{% endblock content%} 
