<!-- 나의 강의 타입 페이지-->
{% extends 'mypagebase.html' %}

{% block content %}
{% load staticfiles %}
<div class="row" style="
    text-align: center; 
    padding: 2.188rem 0rem 0rem 0rem;">
        <div class="col-4" style="border-right: solid  0.10rem #cecece;">
            <img src="static/img/lecture.svg">
        </div>
        <div class="col-4" style="border-right: solid  0.10rem #cecece;">
            <img src="static/img/teacher.svg">
        </div>
        <div class="col-4">
            <img src="static/img/subject.svg">
        </div>
</div>

<div class="row" style="   
    text-align: center;
    font-size: 1.250rem;
    font-weight: bold;
    color: #6e6e6e;">
        <div class="col-4 left_border" style="
        padding: 0.625rem 0rem 0rem 0rem;">
            나의 관심 강좌키워드
        </div>
        <div class="col-4 left_border" style="
        padding: 0.625rem 0rem 0rem 0rem;">
            나의 관심 선생님키워드
        </div>
        <div class="col-4" style="
        padding: 0.625rem 0rem 0rem 0rem;">
            나의 관심 강의분야
        </div>
</div>


<div class="row" >
    <div class="col-4 left_border" style="
    padding: 1.563rem 3.906rem 0rem 3.906rem;">
        <div class="typebox">
                유형탄탄    
        </div>
    </div>
    <div class="col-4 left_border" style="
    padding: 1.563rem 3.906rem 0rem 3.906rem;">
        <div class="typebox"></div>
    </div>
    <div class="col-4" style="
    padding: 1.563rem 3.906rem 0rem 3.906rem;">
        <div class="typebox"></div>
    </div>
</div>

<div class="row" style="text-align: center;">
    <div class="col-4 left_border" style="
    padding: 1.875rem 3.906rem 0rem 3.906rem;">
        <div class="typebox"></div>
    </div>
    <div class="col-4 left_border" style="
    padding: 1.875rem 3.906rem 0rem 3.906rem;">
        <div class="typebox"></div>
    </div>
    <div class="col-4" style="
    padding: 1.875rem 3.906rem 0rem 3.906rem;">
        <div class="typebox"></div>
    </div>
</div>

<div class="row" style="text-align: center;">
    <div class="col-4 left_border" style="
    padding: 1.875rem 3.906rem 0rem 3.906rem;">
        <div class="typebox"></div>
    </div>
    <div class="col-4 left_border" style="
    padding: 1.875rem 3.906rem 0rem 3.906rem;">
        <div class="typebox"></div>
    </div>
    <div class="col-4" style="
    padding: 1.875rem 3.906rem 0rem 3.906rem;">
        <div class="typebox"></div>
    </div>
</div>

<div class="row" style="padding: 0rem 0rem 22.813rem 0rem;"></div>
{% endblock content%}  

